<% provide(:title, "Contact") %>

<div class="navigation-bg">
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			  <h1>上海合气道秋风馆道场</h1>
			</div>
			<div class="contact-info">
				<h4>邮   箱：info@aki-aikido.com</h4>
				<h4>电   话: ＋86 18621904074</h4>
				<h4>电   话: ＋86 13004103577</h4>
				<h4>Q    Q：288987077</h4>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<h2>九隆坊道场</h2>
			<h4>地    址：上海市杨浦区黄兴路1737号九隆坊-1F B03室</h4>
			<%= image_tag("a11.png", width: '260', class: "img-thumbnail") %>
		</div>
		<div class="col-md-6">
			<h2>七巧国道场</h2>
			<h4>地    址：上海市杨浦区隆昌路586号七巧国商场3楼</h4>
			<%= image_tag("a22.png", width: '260', class: "img-thumbnail") %>
		</div>
	</div>

</div>