<% provide(:title, "News") %>

<div class="navigation-bg">
</div>

<div class="container">
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	  	<ul class="list-group info-list">
			  <li class="list-group-item">
			  	<h4><a href="https://ftghub.com/topics/6" target="view_window">上海合气道秋风馆一周年庆</a> <%= fa_icon "share-square-o" %></h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>隆昌路道场开幕</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>央名会气守道场十五周年纪念</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>西郊道场五周年多米尼克老师交流活动</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>2016年道场Teambuild活动</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>友好道场访问</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>2016秋风馆合气道推广活动</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			  <li class="list-group-item">
			  	<h4>2016年道场年会</h4>
			  	<p><small>1 月前发布</small></p>
			  </li>
			</ul>
	  </div>
	</div>
</div>